<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Parking | Histórico</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/pesquisadoStyle.css' %}">
</head>
<body>
	<a href="{% url 'index' %}"><p class="voltar-p">Voltar</p></a>

	<div class="container">
		<div class="topo">
			<p class="title">Parking</p>
			<p class="subtitle">/Histórico de {{plate}}</p>
		</div>

		{% for r in reservas %}
			<div class="dado">
				<p class="num">Número da reserva: {{r.id}}</p>
				<hr>
				{% if r.In == False %}
					<p class="tempo">Tempo no estacionamento (hh:mm): <b>{{r.time}}</b></p>
				{% endif %}
				{% if r.In == True %}
					<p class="tempo"><b>Ainda no estacionamento</b></p>
				{% endif %}
			</div> 
		{% endfor %}
		<a class="pesquisa-a" href="{% url 'pesquisa' %}"><p class="pesquisa-p">Pesquisar o histórico de outra placa</p></a>
	</div>
</body>
</html>