<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Parking | Pesquisar histórico por placa</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/pesquisarStyle.css' %}">
</head>
<body>
	<a href="{% url 'index' %}"><p class="voltar-p">Voltar</p></a>

	<div class="container">
		<div class="topo">
			<p class="subtitle">/Pesquisar histórico por placa</p>
			<p class="title">Parking</p>
		</div>

		<form method="POST">
			<div class="formula">
				{% csrf_token %}
				<label for="plate" class="placa-p">Placa do veículo:</label>
				<input type="text" class="placa" name="plate" placeholder="AAA-9999">
			</div>
			<input type="submit" value="Pesquisar" class="submito">
		</form>

		{% for m in messages %}
		<div class="status">
			<p class="status-p">
				{{m}}
			</p>
		</div>
		{% endfor %}

		
	</div>
</body>
</html>